@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_aZA3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4TYFv.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../libs/fonts/Montserrat-Bold.eot');
  src: url('../libs/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/Montserrat-Bold.woff2') format('woff2'), url('../libs/fonts/Montserrat-Bold.woff') format('woff'), url('../libs/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
    
}
body .fullscreen {
  z-index: -2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100% ;
}
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#header .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
#header .center .top {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
#header .center .top p {
  margin-top: 5px;
}
#header .center .top .renctangle {
  border-bottom: 1px solid #262626;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
}
#header .center .top .renctangle div {
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1.5px solid #262626;
}
#header .center .top .renctangle div p {
  margin: 0;
  color: #ddd7d7;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #262626;
}
#header .center .bottom {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#header .center .bottom a {
  text-decoration: none;
  color: #262626;
}
#header img {
  height: 160px;
  width: 220px;
}
@media screen and (max-width: 768px) {
  #header img {
    display: none;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}



.artists,
.artists * {
  box-sizing: border-box;
}
.artists {
  position: relative;
  
  overflow: hidden;
  
  
}
.artists img {
    width:273px;
    height: 385px;
    max-width: 100%;
}
.artists-layer_bottom {
  display: block;
}
.artists .artists-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 273px;
  height: 385px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
    

}
.artists:hover .artists-layer_top,
.artists.active .artists-layer_top {
  opacity: 1;
}
.artists .artists-text {
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    display: flex;
}
.artists .artists-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179);
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: flex;
}
.artists.active .artists-text_mobile {
  display: block;
}




}
.artists .artists-layer_scale {
  border-radius: 50%;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.artists:hover .artists-layer_scale,
.artists.active .artists-layer_scale {
  border-radius: 0%;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


*
{
	padding: 0;
	margin: 0;
	border: 0;
	letter-spacing: 0.5px;
}

.block__inner{
  display: flex;
  justify-content: space-between;
}

.artists{
  margin: 0 10px;
  border: 5px solid #000000;
  height: 385px;
  width: 273px;
 
}
.artists img{
  height:100%;
  width: 100%;
  max-width:100%;
  border: 3px solid #ffffff;
}




.artists img:hover{
  opacity: 0.3;
}

.artists:nth-child(1){
  margin-top: 250px;
}
.artists:nth-child(2){
  margin-top: 160px;
}

.artists:nth-child(3){
  margin-top: 100px;
}
.artists:nth-child(4){
  margin-top: 100px;
}


.artists:nth-child(5){
  margin-top: 160px;
}
.artists:nth-child(6){
  margin-top: 250px;
}

.metro{
   
  margin-bottom: -5px;

}

.description {
    text-align: center;
    font-size: 26px;
    color: beige;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 30px;
}


.contacts3 {
    padding: 10px 10px;
    margin-left: 105px;
    display: flex;
}


.contact {
    flex: 1 1 0;
    position: relative;
    padding-left: 5px;
}


.icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.icon_title {
    color: beige;
    margin-left: 78px;
}

.icon_text {
    font-size: 15px;
    color: beige;
    margin-left: 78px;
}

.icon1 {
    position: absolute;
    top: -18px;
    left: 0;
    z-index: 1;
}

.icon_title1 {
    color: beige;
    margin-left: 98px;
}

.icon_text1 {
    color: beige;
    margin-left: 98px;
    font-size: 15px;
}

.contact {
    flex: 1 1 0;
    position: relative;
    padding-left: 5px;
}

.contacts3 {
    padding: 10px 10px;
    margin-left: 105px;
    display: flex;
}


.down_text {
    text-align: center;
    font-size: 12px;
    color: beige;
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 5px;
}

.contacts {
    padding: 10px 10px;
    background: #323131;
    display: block;
    padding-bottom: 10px;
}
