@import url('https://fonts.googleapis.com/css?family=Nunito:300');

body {
  background-image: url(https://filmability.files.wordpress.com/2019/01/tumblr_o19qnyubcp1ulqybqo1_400-1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
}
.play-music{
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 50;
}

.music-animation{
  display: flex;
  margin-right: 10px;
  align-items: flex-end;
  position: relative;
  top: -5px;
  &.on{
    .bar{
      animation: bar 1.2s infinite;
    }
    .bar2{
      animation-delay: .1s;
    }
    .bar3{
      animation-delay: .2s;
    }
    .bar4{
      animation-delay: .3s;
    }
    .bar5{
      animation-delay: .4s;
    }
  }
}
.music-toggle{
  cursor: pointer;
  font-size: 50px;
  background-color: red;
  position:relative;
  &:after{
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background-color: #000;
    position: absolute;
    transition: .2s;
  }
  &:hover:after{
    width: 100%;
  }
}
.bar{
  width: 1px;
  background-color: #000;
  height: 2px;
  display: block;
  margin: 0 1px; 
}


@keyframes bar{
  0%{
    height:4px;
  }
  50%{
    height: 14px;
  }
  100%{
    height: 4px;
  }
}
